@media (min-width: $mobileWidth) and (max-width: $tabletWidth) {
  .products {
    .product {
      width: 100%;
    }
  }
}
@media (min-width: $tabletWidth) and (max-width: $desktopWidth) {
  .products {
    .product {
      width: 50%;
    }
  }
}
@media (min-width: $desktopWidth) {
  .products {
    .product {
      width: 33.33%;
    }
  }
}
